@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CocoSharp";
  src: url(/fonts/CocoSharpL-Regular.otf);
}

@font-face {
  font-family: "CocoSharp";
  src: url(/fonts/CocoSharpL-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Monofur";
  src: url(/assets/monofur.ttf);
}

body {
  background: linear-gradient(90deg, #152331 0%, #000000 100%);
}
